<mat-card>
  <mat-card-title>Cakes List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let cake of cakes">
        <img mat-list-avatar src="{{cake.image}}" alt="">
        <h3 mat-line>{{cake.title}}</h3>
        <h2 mat-line>{{cake.description}}</h2>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/cakes-add']">Add</button>

  <a class="btn btn-clear download-btn" title="Download Cakes List" [href]="downloadJsonHref" download="cakes-list.json">Download Cakes List</a>

</mat-card>
