<flash-messages></flash-messages>
<mat-card>
  <form #cakeForm="ngForm" (ngSubmit)="save(cakeForm.value)">
    <mat-card-header>
      <mat-card-title><h2>Add Cake</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="cakes-container">
      <mat-form-field>
        <input matInput placeholder="Cake Title" [(ngModel)]="cake.title"
               required name="title" #title maxlength="100">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="cake.description"
               required name="description" #description maxlength="100">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Cake Image" [(ngModel)]="cake.image"
               required name="image" #image maxlength="300">
      </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!cakeForm.form.valid">Save</button>
      <a mat-button routerLink="/cakes-list">View Cakes</a>
    </mat-card-actions>
  </form>
</mat-card>

