<mat-toolbar color="primary">
  <span>Welcome to {{title}}!</span>
</mat-toolbar>
<button mat-raised-button color="accent" *ngIf="isAuthenticated"
        (click)="oktaAuth.logout()" [routerLink]="['/home']">Logout
</button>

<router-outlet></router-outlet>
